# Conntrack data exploration

## How the data is collected?

Data beeing collected:
 - **CONNTRACK** number of connections
 - __CONNTRACK_MAX__  maximum number of connections (once it reaches its maximum 16384	 - it will never go down)
 - **CONNTRACK_PERCENT_USED**  -  calculated as (CONNTRACK*100)/16384

Load libraries:

In [1]:
from data_exploration import *

Set up InfluxDB connection:

In [2]:
client, client_df = connect_to_influxdb()

Read last 10 records:

In [3]:
query_con = 'SELECT CONNTRACK,CONNTRACK_MAX,CONNTRACK_PERCENT_USED,SK_PI FROM CONNTRACK ORDER BY time DESC LIMIT 10;'
con_df = get_dataframe_from_influxdb(client_df=client_df,query_influx=query_con,table_name='CONNTRACK')
con_df

                 time  CONNTRACK  SK_PI
6 2019-01-18 23:59:57         17      3
2 2019-01-18 23:59:54        129      7
7 2019-01-18 23:59:58        130      7
3 2019-01-18 23:59:54         14      9
5 2019-01-18 23:59:55         15     11
4 2019-01-18 23:59:55         14     12
9 2019-01-19 00:00:00         14     12
1 2019-01-18 23:59:54         17     15
0 2019-01-18 23:59:52         17     16
8 2019-01-18 23:59:58         17     16